[rebase]
	autoStash = true
	autoSquash = true
[commit]
	verbose = true
	gpgsign = false
	template = $HOME/.gitmessage
[core]
	editor = "vim"
	excludesfile = $HOME/.gitignore
[branch "master"]
	rebase = true
